@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
  --app-background:hsl(229, 57%, 11%);
  --card-background: hsl(228, 56%, 26%);
}

body {
  color: hsl(229, 7%, 55%);
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}